@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .navbar-icon {
    @apply flex items-center justify-center h-12 w-12 my-3 mx-auto shadow-lg bg-gray-chat
    text-green-icons hover:bg-green-icons hover:text-white rounded-3xl hover:rounded-2xl 
    transition-all;
  }

  .navbar-server {
    @apply flex items-center justify-center h-12 w-12 my-3 mx-auto shadow-lg text-white;
  }

  .navbar-tooltip {
    @apply absolute w-auto px-2 py-1 max-w-[150px] m-2 min-w-max left-16 rounded-md shadow-md text-white bg-black text-lg font-bold
    hidden origin-left
  }
}

@layer utilities {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
